SECRET_KEY=django-insecure-replace-me-in-production
DEBUG=True

# Database configurations (if migrating from SQLite to PostgreSQL)
# DB_NAME=eventkonnect
# DB_USER=postgres
# DB_PASSWORD=password
# DB_HOST=localhost
# DB_PORT=5432

# Email settings for production
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
